<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <!-- request ajax API -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

    <!-- libraries : data visualisation -->
    <script src="https://d3js.org/d3.v3.min.js"></script>  
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
    
    <!-- file JavaScript for instructions -->
    <script src="/static/mydashboard.js"></script>
    
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">



  </head>

  <body>
    <div class="content">

      <header>
        <div class="header-background"></div>
        <div class="title">
          <h1>
            Detection and prediction of natural catastrophes
          </h1>
        </div>
      </header>

      <main>
        <div>
          <canvas id="weather"></canvas>
        </div>
        

        <div class="chartContainer">

          <div id="weather" class="chart">
            <text class="chartTitle">Forecaster</text>
            <svg></svg>
          </div>
          
          <div id="Avalanches" class="chart">
            <text class="chartTitle">Avalanches</text>
            <svg></svg>
          </div>
          
          <div id="Flood" class="chart">
            <text class="chartTitle">Flood</text>
            <svg></svg>
          </div>

          <div id="Earthquake" class="chart">
            <text class="chartTitle">Earthquake</text>
            <svg></svg>
          </div>

          <div id="Volcanic_Activity" class="chart">
            <text class="chartTitle">Volcanic Activity</text>
            <svg></svg>
          </div>

        </div>
      </main>
    </div>
    
    <!-- API FORECASTER -->
    <script type="text/javascript">
      $.ajax({
          url: "/api/forecaster/",
          success: display_forecaster
      });
      
      function display_forecaster(result){
          console.log("forecaster :", result);
      }
   </script>

    <!-- API WEATHER -->
    <script>
      $.ajax({
          url: "/api/weather/",
          success: weather_graph
      });

      function weather_graph(result){
        console.log("Api weather :", result);

        const ctx = document.getElementById('weather');

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: result.date,
            datasets: [{
              label: 'Temperature',
              data: result.temp,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

      }
    </script>

  </body>
</html>